<% @posts.each do |post| %>
  <%= render :partial => 'content', :locals => { :post => post } %>
<% end %>

<div id="pageNav">
  <%
     prev_page = params[:page].to_i + 1
     next_page = params[:page].to_i - 1
     if params[:category]
       prev_link = category_url(params[:category], prev_page)
       next_link = category_url(params[:category], next_page)
     else
       prev_link = page_url(prev_page)
       next_link = page_url(next_page)
     end
  %>
  <% if @posts.total_pages >= prev_page %>
    <div class="older"><%= link_to "< Older Entries", prev_link %></div>
  <% end %>
  <% if next_page != 0 %>
    <div class="newer"><%= link_to "Newer Entries >", next_link %></div>
  <% end %>
</div>

